<!DOCTYPE html>
<html>
  <head>
    <title>Speaker Illustrations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark masthead fixed-top">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">


    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">All Tags</a>
        </li>
        <li class="nav-item">
          <%= link_to 'New Illustration', new_illustration_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/illustrations/search" method="GET">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-light-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <% else %>

    <ul class="navbar-nav mr-auto">
      <li>
      <%= link_to 'Speaker Illustrations', new_user_session_path, class: "nav-link"   %>  
      </li>
    </ul>
    <% end %>
  </div>
</nav>

<div role="main" class="container">
<div class="starter-template">
<%= flash_messages %>
    <%= yield %>
</div>
    </div><!-- /.container -->
<footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Copyright 2017 Andrew Wippler</span> <% if user_signed_in? %> <%= link_to('Logout', destroy_user_session_path, method: :delete) %>    <% end %>
      </div>
</footer>
  </body>
</html>
